<h1 id="statement">Statement</h1>
<p>The APP{% if page.appName %}({{page.appName}}){% endif %} hereby solemnly undertakes to respect and protect your personal privacy. This privacy treaty explains our information, data collection and use behavior. Once you use the APP, it indicates that you have agreed with the content of this privacy treaty.</p>
<h1 id="personal-information">Personal information</h1>
<p>“Personal information” means your phone number, email, etc. Usually, you can use the APP without providing your personal information. However, in order to improve the service quality, the APP may need you to provide some personal information so that the APP can better understand your needs to serve you, and at the same time, the APP is entitled to take measures to verify the authenticity of your personal information. If you provide personal information about others, you have obtained their formal permission. We undertake that we will not provide your personal information to any third party other than our APP and its affiliates, except at your own discretion.</p>
<h1 id="collection-of-personal-information">Collection of personal information</h1>
<p>When need you to provide personal information, the APP will ask for your approval, so according to your request to provide you with services or executing a transaction, including: receiving information about the APP’s products and services, access to restricted by a certain function, to buy or register our APP’s products, customer satisfaction surveys, market research and promotion, the law mandatory provisions, etc.</p>
<h1 id="use-of-personal-information">Use of personal information</h1>
<p>The personal information provided by you will be used in the ranking list of the APP. Your personal information is only used to better understand your needs and provide you with better services. Meanwhile, our APP may use your personal information to contact you for providing services.</p>
<h1 id="security-of-personal-information">Security of personal information</h1>
<p>We promise to protect the security of your personal information and take appropriate security measures to protect your personal information from unauthorized access, use or disclosure.</p>
<h1 id="protection-of-minors">Protection of minors</h1>
<p>This APP does not intend to collect the personal information of minors. If you provide the personal information of minors, please proceed with the consent of their guardians in advance. The definition of “minors” shall be determined according to the applicable laws of this treaty.</p>
<h1 id="law-publicity">Law publicity</h1>
<p>You understand that, as required by law, this APP may be required to disclose your personal information without obtaining your prior consent and without liability.</p>
<h1 id="modification-of-this-privacy-treaty">Modification of this privacy treaty</h1>
<p>Modification of this privacy treaty</p>
<h1 id="contact">Contact</h1>
<p>e-mail: {{ site.privacy_email }}</p>
<h1 id="updated">Updated</h1>
<p>2019.10.04</p>