<p id="statement"><em>声明</em>：本アプリ{% if page.appName %}({{page.appName}}){% endif %}は、お客様の個人情報のプライバシーを尊重し保護することをここに厳粛に約束します。このプライバシー条約は、本アプリの情報、データ収集および使用行動について説明します。本アプリをご利用になると、本プライバシー条約の内容に同意したものとみなされます。</p>
<h1 id="personal-information">個人情報</h1>
<p>「個人情報」とは、お客様の電話番号、メールアドレスなどを指します。通常、個人情報を提供することなくアプリをご利用いただけます。ただし、サービスの品質向上のため、本アプリがお客様のニーズをより良く理解してサービスを提供するために、一部の個人情報の提供が必要となる場合があり、同時に、本アプリはお客様が提供した個人情報の真実性を確認する措置を講じる権利を有します。他人の個人情報を提供する場合は、その本人の正式な許可を得ていることを示します。本アプリは、お客様自身の意思による場合を除き、本アプリおよびその関連企業以外の第三者にお客様の個人情報を提供しないことを約束します。</p>
<h1 id="collection-of-personal-information">個人情報の収集</h1>
<p>個人情報の提供が必要な場合、本アプリはお客様の同意を求めます。これにより、お客様のリクエストに応じてサービスを提供したり、取引を実行したりします。これには、本アプリの製品およびサービスに関する情報の受信、特定の機能へのアクセス、本アプリの製品の購入または登録、顧客満足度調査、市場調査およびプロモーション、法律の強制的規定などが含まれます。</p>
<h1 id="use-of-personal-information">個人情報の使用</h1>
<p>お客様が提供した個人情報は、アプリ内のランキングで使用されます。お客様の個人情報を使用するのは、お客様のニーズをより良く理解し、より良いサービスを提供するためのみです。同時に、当社はサービスを提供するために、お客様の個人情報を使用してお客様と連絡を取る場合があります。</p>
<h1 id="security-of-personal-information">個人情報のセキュリティ</h1>
<p>本アプリは、お客様の個人情報のセキュリティを保護することを約束し、同時に、お客様の個人情報が不正なアクセス、使用、または開示から保護されるよう、適切なセキュリティ対策を講じます。</p>
<h1 id="protection-of-minors">未成年者の保護</h1>
<p>本アプリは未成年者の個人情報を意図的に収集しません。未成年者の個人情報を提供する場合は、事前に保護者の同意を得てから行ってください。「未成年者」の定義は、本条約が適用される法律に基づいて決定されるものとします。</p>
<h1 id="legal-disclosure">法的開示</h1>
<p>法律の強制的規定に基づき、本アプリは事前の同意を得ることなく、また責任を負うことなく、お客様の個人情報を開示する必要がある場合があることをご理解ください。本プライバシー条約または本アプリの使用に関する一切の行為は、日本法に準拠するものとします。したがって、紛争が発生した場合は、双方が協議して解決します。協議が調わない場合、お客様は本アプリの法定住所所在地の裁判所に裁決を委ねることに同意するものとします。</p>
<h1 id="modification-of-privacy-treaty">プライバシー条約の変更</h1>
<p>本プライバシー条約の変更権および解釈権は当社に帰属します。当社は本条約を随時更新し、公表します。更新された内容は公表の日から効力を生じますので、定期的にアクセスして及时にご理解ください。</p>
<h1 id="contact-information">お問い合わせ</h1>
<p>e-mail: {{ site.privacy_email }}</p>
<h1 id="last-updated">更新日</h1>
<p>2019.10.04</p>
