<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
    <head>
{% include meta-info.html %}
    <title>{% if page.title %}{{ page.title | escape }}{% elsif layout.title %}{{ layout.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
{% include link-info.html %}
{% include style-info.html %}
    </head>
    <body{% if page.layout == 'index' %} class="portal-body"{% endif %}>
{% include body-header.html %}
        {{ content }}
{% include body-footer.html %}
    </body>
</html>
